*{
    box-sizing: border-box;
    word-break: break-all;
    word-wrap: break-word;
}

body{
    background-color: #F4F4F4;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
}

a{
    text-decoration: none;
}

.nav-header-list{
    display: inline-block;
}

.nav-header-link{
    color: #AAAAAA;

}

.social_search-links{
    display: inline-block;
}

.social_search-icon{
    color: #AAAAAA;
}

.page-header{
    background: #FFF;
    width:100%;
    height: 67px;
    margin-bottom: 50px;
}

.nav-header-list{
    margin: 0px;
    padding: 0px;
}

.nav-header-list li{
    display: inline-block;
}

.main-content{
    display: inline-block;
}

.article {
    width:700px;
    background-color: #FFF;
    text-align: center;
    overflow: auto;
}

.article > img{
    width:100%;
}

.article-topic{
    color: #0DBEEB
}

[value="CONTINUE READING"]{
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    color: #1AD5FC;
}

.post-date{
    display: inline-block;
    padding-right: 150px;
}

.circels{
    display: inline-block;
    margin-left: 1px;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    border: 1px solid #EBEBEB;
}

.icons-in-circles{
    vertical-align: middle;
    color: #C2C2C2;
}

.footer-of-article{
    margin: 10px 50px;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 10px;
    border-color: #EBEBEB;
}
/*-----------------------------  */
