*{
    box-sizing: border-box;
    word-break: break-all;
    word-wrap: break-word;
}

body{
    background-color: #F4F4F4;
    width: 1440px;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
}

.leading-font{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 19px;
}

.lorem-font{
    font-family: 'Merriweather', serif;
    font-size: 11px;
    padding-left: 30px;
    padding-right: 40px;
    line-height: 2;
}

.main-content{
    margin: auto;
    display: flex;
    width: 80%;
}

a{
    text-decoration: none;
}

.nav-header-list{
    display: inline-block;
}

.nav-header-link{
    color: #AAAAAA;

}

.social_search-links{
    display: inline-block;
}

.social_search-icon{
    color: #AAAAAA;
}

.page-header{
    background: #FFF;
    width: 100%;
    height: 50px;
    margin-bottom: 37px;
}

.nav-header-list{
    margin: 0px;
    padding: 0px;
}

.nav-header-list li{
    display: inline-block;
}

.prime-content{
    display: inline-block;
    float: left;
    margin-left: 148px;
    width: 49%;
}

.article {
    background-color: #FFF;
    text-align: center;
    overflow: auto;
}

.travel-article{
    width: 562px;
}

.lifestyle{
    margin-bottom: 31px;
    padding-bottom: 20px;
}

.article > img{
    width:100%;
}

.article-content{
    text-align: center;
    overflow: auto;
}

.article-topic{
    color: #0DBEEB
}

[value="CONTINUE READING"]{
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    color: #1AD5FC;
    font-size: 10px;
}

.post-date{
    display: inline-block;
    padding-right: 65px;
    font-size: 10px;
}

.circels{
    display: inline-block;
    margin-left: 1px;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    border: 1px solid #EBEBEB;
}

.icons-in-circles{
    vertical-align: middle;
    color: #C2C2C2;
    font-size:10px;
}

.footer-of-article{
    margin: 14px 33px;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 10px;
    border-color: #EBEBEB;
    padding-bottom: 30px;
}
/*-----------------------------  */

.all-aside{
    display: inline-block;
    padding-left: 22px
}

.aside-leading-font{
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.profile-aside-container{
    width: 269px;
    background: #FFF;
    text-align: center;
    display: inline-block;
    height: 380px;
}
.aside-container > img.source{
    width:100%;
}

.aside-article{
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 13px;
    padding-top: 59px;
    line-height: 1.5;
}

.source{
    background-image: url("images/author-cover.jpg");
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    height: 135px;

}

.round-profile{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    border: solid 3px white;
    position: absolute;
    top: 57%;
    right: 26%;
}
.aside-circles{
    display: inline-block;
    margin-left: 1px;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    border: 1px solid #EBEBEB;
}

.profile-aside-footer{

}

.pop-aside-florence{
    display: inline-block;
}

.popular-aside{
    margin-top: 29px;
    width: 269px;
    height: 774px;
    background: white;
}

#opera-main-title{
    padding-top: 20px;
}

.three-pop-img{
    width: 223px;
    height: 175px;
}

.pop-title{
    font-family: 'Merriweather', serif;
    font-size: 11px;
}
