*{
    box-sizing: border-box;
    word-break: break-all;
    word-wrap: break-word;
}

body{
    background-color: #F4F4F4;
    width: 1440px;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
}

.leading-font{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 19px;
}

.lorem-font{
    font-family: 'Merriweather', serif;
    font-size: 11px;
    padding-left: 30px;
    padding-right: 40px;
    line-height: 2;
}

.main-content{
    margin: auto;
    display: flex;
    width: 80%;
}

a{
    text-decoration: none;
}

.nav-header-list{
    display: inline-block;
    margin: 1%;
    margin-left: 12%;
    float: left;
    width: 28%;
}

.nav-header-link{
    color: #AAAAAA;
    font-family: 'Open Sans', sans-serif;


}

.social_search-links{
    display: inline-block;
    float: right;
    margin-top: 1.3%;
    margin-right: 19.3%;
    font-size: 10px;
    width: 14%;
    padding-left: 0;
}
#facebook-top-link{
    margin-right: 2%;
    padding-left: 37%;
}

#twitter-top-link{
    margin-right: 2%;
}

#google-top-link{
    margin-right: 2%;
}

#instagram-top-link{
    padding-right: 13%;
}

#search-top-link{
    margin-left:2%;
}

.social_search-icon{
    color: #AAAAAA;
}

.page-header{
    background: #FFF;
    width: 100%;
    height: 50px;
    margin-bottom: 37px;
}


.nav-header-list li{
    display: inline-block;
    padding-left: 1%;
    padding-right: 5%;
    font-size: 9px;
}

#home-link{
    padding-left: 2%;
    color: #00BFFA
}

.prime-content{
    display: inline-block;
    float: left;
    margin-left: 148px;
    width: 49%;
}

.article {
    background-color: #FFF;
    text-align: center;
    overflow: hidden;
}

#florence-big{
    margin-top: 4px;
}

#lifestyle-title{
    margin-top: 4px;
}

#rocket-title{
    margin-top: 4px;
}

#coffee-title{
    margin-top:4px;
}

.lifestyle-title{
    margin-top: 4px;
}
.travel-article{
    width: 100%;
    height: 686px;
    margin-bottom: 5.5%;
}

.lifestyle-article{
    margin-bottom: 34px;
}

.food-article{
    margin-bottom: 30px;
}

.rocket-article{
    margin-bottom: 30px;
}
.travel-article > img{
    width:100%;
    height: 52%;
}

.lifestyle-article > img{
    width:100%;
    height: 50%;
}

.food-article > img{
    width:100%;
    height: 52%;
}

.rocket-article > img{
    width:100%;
    height: 52%;
}


.article-content{
    text-align: center;
    overflow: auto;
}

.article-topic{
    color: #0DBEEB;
    text-transform: uppercase;
    font-size: 9px;
    padding-top: 3%;
    margin-bottom: 0px;
}

[value="CONTINUE READING"]{
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    color: #1AD5FC;
    font-size: 10px;
}

.post-date{
    display: inline-block;
    padding-right: 130px;
    padding-left: 0;
    font-size: 10px;
}

.circels{
    display: inline-block;
    margin-left: 6px;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    border: 1px solid #EBEBEB;
}

.icons-in-circles{
    vertical-align: middle;
    color: #C2C2C2;
    font-size:10px;
}

.footer-of-article{
    margin: 23px 33px;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 10px;
    border-color: #EBEBEB;
    padding-bottom: 30px;
}

.footer-of-lifestyle-article{
    margin-top: 41px;
        margin-bottom: 0;
        margin-left: 33px;
        margin-right: 33px;
        border-top-width: 1px;
        border-top-style: solid;
        padding-top: 10px;
        border-color: #EBEBEB;
        padding-bottom: 18px;
}

.footer-of-food-article{
    margin-right: 23px;
    margin-left: 23px;
    margin-top: 43px;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 10px;
    border-color: #EBEBEB;
    padding-bottom: 11px;
}

.footer-of-rocket-article{
    margin-right: 23px;
    margin-top: 37px;
    margin-left: 23px;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 10px;
    border-color: #EBEBEB;
    padding-bottom: 20px;
}
/*-----------------------------  */

.all-aside{
    width:25%;
    padding-left: 22px
}

.aside-leading-font{
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.profile-aside-container{
    width: 100%;
    background: #FFF;
    text-align: center;
    display: inline-block;
    height: 380px;
}
.aside-container > img.source{
    width:100%;
}

.aside-article{
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 13px;
    padding-top: 81px;
    line-height: 1.5;
}

.source{
    background-image: url("images/author-cover.jpg");
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    height: 135px;

}

.round-profile{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    border: solid 3px white;
    position: absolute;
    top: 57%;
    right: 26%;
}
.aside-circles{
    display: inline-block;
    margin-left: 1px;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    border: 1px solid #EBEBEB;
}

.three-pop-post{
    width: 83%;
    margin: auto;
}

.profile-aside-footer{

}

.pop-aside-content{
    display: inline-block;
}

.popular-aside{
    margin-top: 29px;
    width: 100%;
    height: 798px;
    background: #FFF;
}

#pop-main-title{
    padding-top: 10%;
    margin-bottom: 6%;
}

.three-pop-img{
    width: 100%;
    height: 170px;
}


.coffee-pop-article{
margin-bottom: 8.3%;
}
.pop-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
}

.pop-img-footer{
    text-align: left;
}

.opera-title-tag{
        margin-top: 2%;
}
.opera-footer{
    border-bottom: 1px solid silver;
    padding-bottom: 5%;
    margin-bottom: 7.5%;
}

.pop-post-date{
    font-family: 'Merriweather', serif;
    font-size: 8px;
}

.coffee-title-tag{
    margin-top: 3%;
}
.coffee-date{
        margin-top: -1%;
}
.coffee-footer{
    padding-bottom: 4%;
    border-bottom: 1px solid silver;
}

.modern-title{
    margin-top:3%;
}
/*-------------------------  */
.latest-posts-aside{
    width:100%;
    height: 357px;
    background-color: #FFF;
    margin-top:12%;
}

.latest-posts-img{
    width: 34%;
    float: left;
margin-right: 4%;
}

.first-posts-img{
    height: 62px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.second-posts-img{
    height: 53px;
}

.third-posts-img{
    height:54px;
}

.forth-posts-img{
    height: 54px;
}

#latest-title{
    padding-top: 10%;
    margin-top:0px;
    font-size: 14px;
}

.latest-posts-block{
    display: inline-block;
    padding-left: 8%;
    padding-right: 9%;
}

.latest-posts-info{
    display: inline;
    text-align: left;
}

.latest-posts-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    margin-top: 0;
    margin-bottom: 17px;
}

.latest-oprea-title{
    margin-top: 2%;
    padding-top: 2%;
    margin-bottom: 6%;
}

.latest-modren-title{
    margin-bottom: 3%;
}

.latest-macbook-title{
    margin-bottom: 11%;
}

.latest-coffee-title{
    margin-bottom:4%;
}

.latest-oprea-date{
    font-family: 'Merriweather', serif;
    padding-bottom: 4%;
    font-size: 9px;
    border-bottom: 1px solid silver;
}

.latest-modren-date{
    font-family: 'Merriweather', serif;
    padding-bottom: 14%;
    font-size: 9px;
    border-bottom: 1px solid silver;
        margin-top: 3%;
}

.latest-macbook-date{
    font-family: 'Merriweather', serif;
    padding-bottom: 6.5%;
    font-size: 9px;
    border-bottom: 1px solid silver;
}

.latest-coffee-date{
    font-family: 'Merriweather', serif;
    padding-bottom: 4%;
    font-size: 9px;
}
/*-----------------------------------------------  */

.pinterest-aside{
    width: 100%;
    background-color: #FFF;
    display: flex;
    height:300px;
    margin-top: 11.2%;
    align-items: center;
     justify-content: center;
     flex-direction: column;
}

.pinterest-aside-title{
    font-size: 13px;
    display: flex;

}

.pinterest-feed{
    width:83%;
    height: 78%;
    display: flex;
    flex-flow: row wrap;
    background-size: cover;
    background-position: center;
}

.pinterest-feed-img{
    width: 30%;
    height: 30%;
    display: flex;
    flex-flow: row wrap;
    background-size: cover;
    background-position: center;
    margin-top: 2%;
}

.pintrest-box-1{
    content:"";
    background-image: url("images/best.jpeg");
    margin-top: 3%;
    margin-right: 4%;
    width: 31%;
    height: 29.5%;
}

.pintrest-box-2{
    content:"";
    background-image: url("images/contemp.jpeg");
    margin-right: 5%;
    margin-top: 3%;
    height: 29.5%;
}

.pintrest-box-3{
    content:"";
    background-image: url("images/design-min.jpeg");
    height: 29.5%;
    width: 30%;
    margin-top: 3%;
}

.pintrest-box-4{
    content:"";
    background-image: url("images/house-design.jpeg");
    height: 28.5%;
    width: 31%;
    margin-top: 3.1%;
    margin-right: 4%;
}

.pintrest-box-5{
    content:"";
    background-image: url("images/interior-min.jpeg");
    width: 31.1%;
    height: 29.5%;
    margin-right: 2.8%;

}

.pintrest-box-6{
    content:"";
    background-image: url("images/min-table.jpeg");
    width: 31%;
    height: 28.05%;
    margin-top: 3%;
}

.pintrest-box-7{
    content:"";
    background-image: url("images/minimalist-house.jpeg");
    width: 31.5%;
    height: 29%;
    margin-top: 2.37%;
    margin-right: 4%;
}

.pintrest-box-8{
    content:"";
    background-image: url("images/modern-farm.jpeg");
    width: 30.1%;
    height: 28%;
    margin-right: 4%;
}

.pintrest-box-9{
    content:"";
    background-image: url("images/norway.jpeg");
    width: 30.41%;
    height: 29.3%;
    margin-bottom: 5%;
}
/* margin right margin bottom expect
second margin

for footer put flex. back-ground-cover */

.img-footer-section{
    width: 100%;
    height: 180px;
    display: flex;
}

.img-footer-1{
    background-image: url("images/best.jpeg");
    width:12.5%;
    height: 180px;
}

.img-footer-2{
    background-image: url("images/contemp.jpeg");
    width:12.5%;
    height: 180px;
}

.img-footer-3{
    background-image: url("images/design-min.jpeg");
    width:12.5%;
    height: 180px;
}

.img-footer-4{
    background-image: url("images/house-design.jpeg");
    width:12.5%;
    height: 180px;
}

.img-footer-5{
    background-image: url("images/interior-min.jpeg");
    width:12.5%;
    height: 180px;
}

.img-footer-6{
    background-image: url("images/min-table.jpeg");
    width:12.5%;
    height: 180px;
}

.img-footer-7{
    background-image: url("images/norway.jpeg");
    width:12.5%;
    height: 180px;
}

.img-footer-8{
    background-image: url("images/modern-farm.jpeg");
    width:12.5%;
    height: 180px;
}

.copy-right{
    width: 100%;
    padding-top: 1px;
    height: 36px;
    background-color: #222;
}


.img-on-hover{
    position: relative;
}

.circels:hover{
    background-color: #00BFFA;
}

.aside-circles:hover{
    background-color: #00BFFA;
}

.icons-in-circles:hover{
    color: #FFF;
}

.click-reading:hover{
    background-color: #00BFFA;
    color: #FFF;}
